html,
body {
	height: 100%;
}
/* swiper start */
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
}
/* swiper end */
/* background image */
.one {
	background: url(../img/1.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.two {
	background: url(../img/2.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.three {
	background: url(../img/3.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.four {
	background: url(../img/4.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.five {
	background: url(../img/5.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.six {
	background: url(../img/6.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.seven {
	background: url(../img/7.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.eight {
	background: url(../img/8.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.nine {
	background: url(../img/9.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	color: #fff;
}
.ten {
	background: url(../img/10.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
/* background image end */
/* form css start */
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
	color: indianred !important;
	text-align: left;
	margin-left: 18px;
}
.formGroup {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	position: absolute;
	overflow-x: hidden;
	top: 44%;
	margin:0 auto;
}
.forms{
	width:50%;
	margin-left:20%;
}
.formf p {
	height: 30px;
	font-size: 16px;
	text-align: left;
	margin-left: -5px;
}

.formf input {
	border-radius: 10px;
}

/* form css end */
/* tips start */
.infoo {
	position: absolute;
	top: 100px;
	left: 50%;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, .8);
	border-radius: 15px;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
